.App {
  margin: 0;
  padding: 0;
}
.header p {
  text-align: center;
}
.header input {
  width: 50%;
  margin: 5px 70px;
}

.todo_content {
  width: 600px;
  height: 750px;
  border: 1px solid red;
}

.list {
  background-color: #fff;
  width: 75%;
  height: 75%;
  margin: 25px auto;
  text-align: center;
}

.container {
  cursor: pointer;
  display: block;
}
.container input {
  vertical-align: middle;
}

.userInput {
  text-align: center;
  border: 1px solid red;
}
