.App {
  margin: 0;
  padding: 0;
}
.header p {
  text-align: center;
}
.header input {
  width: 50%;
  margin: 5px 70px;
}

.todo_content {
  width: 600px;
  height: 750px;
  border: 1px solid red;
}

.app {
  text-align: center;
  width: 300px;
}
